<div class="card p-3 mb-2">
    <h2 class="card-title">Recepcionistas registrados</h2>

    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel"
           viewBox="0 0 16 16" style="display:inline;margin-right: 40px;">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
      </svg>
      <label for="tratamiento" class="form-label" style="display:inline; margin-right: 20px;">Nombre</label>
      <input [(ngModel)]="searchText" name="searchText" type="text" class="formcontrol" placeholder="Type to filter"
             style="width: 250px; display:inline;margin-right: 20px;" />
      <!--<input type="text" class="formcontrol col-3" placeholder="Ingrese para buscar" style="display:inline;" /> -->
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo</th>
            <th scope="col">Salario</th>
            <th scope="col">Direccion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recepcionista of recepcionistas; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{recepcionista.identificacion}}</td>
            <td>{{recepcionista.nombre}}</td>
            <td>{{recepcionista.apellido}}</td>
            <td>{{recepcionista.telefono}}</td>
            <td>{{recepcionista.correo}}</td>
            <td>{{recepcionista.salario}}</td>
            <td>{{recepcionista.direccion}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
